/* css/style.css */
body, html {
    /* height: 100%; */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4c899c; /* Фоновий колір сторінки */
}

.container {
    width: 100%;
    min-width: 85vw; /* Максимальна ширина контейнера для форми */
    padding: 20px;
    background-color: #ffffff; /* Фоновий колір контейнера */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тінь навколо контейнера */
    border-radius: 8px; /* Закруглені кути контейнера */
}
h1{
    color: #035b5e;
    text-align: center;
}

h2{
    color: #068488;
    margin-bottom: 0;
}
h3{
    margin-bottom: 0;
}
label{
    font-size: 18px;
}
.form-group {
    margin-bottom: 15px; /* Відступи між полями форми */
}
.wrapper{
    display: flex;
    /* gap: 15px; */
    align-items: center;
    justify-content: space-around;
}

label {
    display: block; /* Робить етикетку блоковим елементом */
    margin-bottom: 5px;
    margin-top: 15px; /* Відступ між етикеткою та полем введення */
}

input[type="text"],
input[type="tel"],
input[type="email"]{
    width: 40vw; /* Ширина поля введення */
    padding: 10px; /* Внутрішній відступ поля введення */
    border: 1px solid #ccc; /* Межа поля введення */
    border-radius: 4px; /* Закруглені кути поля введення */
}
textarea {
    width: 83vw; /* Ширина поля введення */
    padding: 10px; /* Внутрішній відступ поля введення */
    border: 1px solid #ccc; /* Межа поля введення */
    border-radius: 4px; /* Закруглені кути поля введення */
}
.age-options, .language-options, .options-items{
    display: flex;
    justify-content: left;
    gap: 40px;
}
.gender{
    display: flex;
    justify-content: left;
    gap: 40px;
}
.income-options{
    display: flex;
    justify-content: left;
    gap: 50px;
    width: 80vw;
}
.typeSite-options{
    display: flex;
    justify-content: left;
    gap: 50px;
}
.designing-options{
    display: flex;
    justify-content: left;
    gap: 40px;
}
.options-itemS{
    display: flex;
    justify-content: left;
    gap: 90px;
}
button[type="submit"] {
    background-color: #007bff; /* Фоновий колір кнопки */
    color: #ffffff; /* Колір тексту кнопки */
    padding: 10px 20px; /* Внутрішній відступ кнопки */
    border: none; /* Видалення межі кнопки */
    border-radius: 4px; /* Закруглені кути кнопки */
    cursor: pointer; /* Курсор у вигляді покажчика при наведенні на кнопку */
}

button[type="submit"]:hover {
    background-color: #0056b3; /* Фоновий колір кнопки при наведенні */
}
