body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f9f9f9;
}

h1 {
    color: #333;
}

#briefsContainer {
    margin-top: 20px;
}
.brief-row td {
    padding: 5px; 
}